:root {
  --border-color: #000000;
  --button-primary-rgb: 48, 79, 254;
  --button-primary-hover: #0026CA;
  --label-overflow-padding: 16px;
}

div {
  box-sizing: border-box;
}

.base {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--slot-color-white);
  background-color: rgba(var(--button-primary-rgb));
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding-inline: var(--label-overflow-padding);
  min-width: 80px;
}

.base:hover {
  filter: drop-shadow(0px 1px 2px rgba(var(--button-primary-rgb), 0.14))
  drop-shadow(0px 1px 2px rgba(var(--button-primary-rgb), 0.12))
  drop-shadow(0px 1px 2px rgba(var(--button-primary-rgb), 0.2));
}

.rounded {
  border-radius: 100px;
}

.primary {
  background-color: var(--button-primary-hover);
}

.secondary {
  color: rgba(var(--button-primary-rgb));
  background-color: transparent;
  border: 2px solid rgba(var(--button-primary-rgb));
}

.secondary:hover {
  color: var(--button-primary-hover);
  border-color: var(--button-primary-hover);
} 

.small {
  height: 32px;
}

.medium {
  height: 40px;
}

.large {
  height: 48px;
}

.label {
  margin-inline: var(--label-overflow-padding);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
