:root {
  --label-overflow-padding: 16px;
}

div {
  box-sizing: border-box;
}

.base {
  --button-color: #304ffe;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--slot-color-white);
  background-color: var(--button-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding-inline: var(--label-overflow-padding);
  min-width: 80px;
}

.base.rounded {
  border-radius: 100px;
}

.base.primary:hover {
  filter: brightness(85%);
}

.base.secondary {
  color: var(--button-color);
  background-color: transparent;
  border: 2px solid var(--button-color);
}

.base.secondary:hover {
  filter: grayscale(50%);
} 

.base.small {
  height: 32px;
}

.base.medium {
  height: 40px;
}

.base.large {
  height: 48px;
}

.label {
  margin-inline: var(--label-overflow-padding);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
