:root {
  --border-color: #000000;
  --button-primary-rgb: 48, 79, 254;
  --button-primary-hover: #0026CA;
  --label-overflow-padding: 16px;
}

div {
  box-sizing: border-box;
}

.button-wrapper {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--slot-color-white);
  background-color: rgba(var(--button-primary-rgb));
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding-inline: var(--label-overflow-padding);
  min-width: 80px;
}

.button-wrapper:hover {
  background-color: var(--button-primary-hover);
  filter: drop-shadow(0px 1px 2px rgba(var(--button-primary-rgb), 0.14))
    drop-shadow(0px 1px 2px rgba(var(--button-primary-rgb), 0.12))
    drop-shadow(0px 1px 2px rgba(var(--button-primary-rgb), 0.2));
}

.button-wrapper.rounded {
  border-radius: 100px;
}

.button-wrapper.small {
  height: 32px;
}

.button-wrapper.medium {
  height: 40px;
}

.button-wrapper.large {
  height: 48px;
}

.button-wrapper.border {
  color: rgba(var(--button-primary-rgb));
  background-color: transparent;
  border: 2px solid rgba(var(--button-primary-rgb));
}

.button-wrapper.border:hover {
  color: var(--button-primary-hover);
  border-color: var(--button-primary-hover);
} 

.label {
  margin-inline: var(--label-overflow-padding);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
