:root {
  --fcs-color-white: #ffffff;
}
.base * {
  /* outline: 1px solid black; */
}

.base div {
  box-sizing: border-box;
}

.base {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;

  padding-block: 16px;
  background-color: var(--fcs-color-white);
  height: 400px;
  width: 200px;
}

.base:focus-visible {
  outline: 3px solid var(--focus-color);
}

.label {
  /* margin-inline: var(--label-overflow-padding); */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
