.base {
  flex-grow: 1;
  padding-inline: 8%;
  position: relative;
  display: grid;
}

.draw {
  z-index: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 30%;
  user-select: none;
  pointer-events: none;
}

.product-image {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
  pointer-events: none;
}
