:root {
  /* Add your Global CSS variables here */
  --background: #fff;
  --font-color: #494949;
  --slot-fcs-black: #000000;
  --slot-fcs-white: #ffffff;

  font-family: "Avenir Next", Helvetica, Arial, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #3c3c3c;
    --font-color: #fafafa;
  }
}

